<div class="container">
  <p>{{question.ask}}</p>
  <p>{{question.author}}</p>
  <p>{{question.notes}}</p>
  <h4>Answers</h4>

  {{#each question.answers as |answer|}}
  <li>{{answer.answer}} - by {{answer.user}}</li>
  {{/each}}
</div>
