{{navbar-fixed}}
<div class="container">
  {{question-detail question=model}}
  {{update-question updateQuestion="updateQuestion" question=model }}
  {{answer-tile saveAnswer="saveAnswer" question=model}}


  <!-- <ul>
    {{#each model.answers as |answer|}}
      {{answer-tile saveAnswer="saveAnswer" question=question}}
      Username: {{answer.user}}
       <br>
       Answer: {{answer.answer}}
       <br><br><br>
    {{/each}}
  </ul> -->
</div>

  <!-- {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}} -->
